@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Gilroy-SemiBold.ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Gilroy-Bold.ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

input[type='radio'] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: #581dff;
  width: 18px;
  height: 18px;
  padding: 2.88px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  overflow: hidden;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  display: none;
}

input[type='radio']::before {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: scale(1);
  transition: 120ms transform ease-in-out;
  background-color: #e6e6e6;
}

input[type='radio']:checked::before {
  transform: scale(1);
  background-color: #581dff;
}

.contact__title {
  background: conic-gradient(
    from 159deg at 44.88% 50%,
    #2b65fb 0deg,
    #28d8ff 148.1250035762787deg,
    #85ffb6 307.62722969055176deg,
    #17c213 360deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact__form {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.47);
  background: rgba(5, 12, 48, 0.4);
  box-shadow: 0px 0px 90px 0px rgba(0, 255, 209, 0.2);
  backdrop-filter: blur(20px);
}

.contact__span {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(2, 0, 83, 0.21);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 0%;
}

.socials {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact__facebook {
  background: linear-gradient(142.25deg, #70adff 20.57%, #1977f3 48.47%, #064ba6 78.79%);
}

.contact__vk {
  background: linear-gradient(142.25deg, #60aaff 20.57%, #2787f5 50.89%, #005cc6 78.79%);
}

.contact__twitter {
  background: linear-gradient(141.2deg, #73caff 20.61%, #1da1f2 50.17%, #007cc8 82.31%);
}

.contact__insta {
  background: linear-gradient(142.25deg, #d82d7e 20.57%, #df406c 48.47%, #fa8f21 78.79%);
}
